:local(.fillable-bar) {
  align-items: center;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  height: 1.5rem;
  margin-left: 3rem;
  position: relative;
  width: 15rem;
  z-index: 2;
}

:local(.bar-fill) {
  height: 1.5rem;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

:local(.bar-label) {
  left: -3rem;
  position: absolute;
}

:global(.battle-mode) :local(.fillable-bar) {
  width: 19rem;
}
