:local(.character-banner) {
  border-image: url('/images/border_27slice.png') 27;
  border-style: solid;
  border-width: 27px;
  font-size: 2.4rem;
  padding: 1.5rem;
  width: fit-content;
}

:local(.character-banner .bottom-row) {
  display: flex;
  margin-top: 3rem;
}

:local(.character-banner .top-row) {
  display: flex;
}

:local(.character-banner .left-column) {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
}

:local(.character-banner .right-column) {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 1rem;
}

:local(.character-banner .name) {
  font-size: 3.2rem;
}

:local(.character-banner .attribute-container) {
  display: flex;
}

:local(.character-banner .attribute-container > *:not(:last-child)) {
  margin-right: 1.5rem;
}
